html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    margin: 20px 100px;
}

#gameBoard {
    border: 5px solid;
    border-radius: 5px;
}

#scoreText {
    font-family: "Consolas", monospace;
    font-size: 100px;
}

#startBtn, #resetBtn {
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}